{
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "extends": ["airbnb"],
    "rules": {
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": ["error", { "ignore": ["gojs"] }],
        "react/forbid-prop-types": 0,
        "import/prefer-default-export": 0,
        "jsx-a11y/label-has-for": 0,

    }
}