{
    "env": {
        "es6": true,
        "browser": true,
        "jquery": true,
        "mocha": true,
    },
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": 6,
        "sourceType": "module",
        "ecmaFeatures": {
            "jsx": true
        }
    },
    "plugins": [
        "react",
        "jsx-a11y"
    ],
    "extends": ["airbnb"],
    "rules": {
        "no-empty": ["error", { "allowEmptyCatch": true }],
        "consistent-return": 0,
        "no-else-return": 0,
        "import/no-extraneous-dependencies": 0,
        "import/no-unresolved": ["error", { "ignore": ["gojs"] }],
        "react/forbid-prop-types": 0,
        "import/prefer-default-export": 0,
        "jsx-a11y/label-has-for": 0,

    },
    "settings": {
      "import/resolver": {
        "webpack": {
          config: "webpack.config.js"
        }
      },
      "import/core-modules": [
        "aws-cognito-sdk",
        "react-redux",
        "react-cognito",
        "react-router",
      ],
      "import/extensions": [".js", ".jsx"],
    }
}
